/* styles/styles.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

/* Стили для левой панели с фильтрами */
.filters-panel {
  background: #739072;
  padding: 10px;
  color: #ece3ce;
}

.filters-panel h3 {
  margin-bottom: 10px;
}

.filters-panel label {
  margin-left: 5px;
}